<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= title %>
    <br/>
    <% images.forEach((image)=>{ %>
        <img src="<%= image %>" alt="" style="width:25%; height:25%;">
    <% }) %>
    
    <br/>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde voluptatum ex eaque, corrupti voluptate explicabo soluta alias pariatur possimus qui nam, corporis tempora labore, accusantium beatae exercitationem error iure.
</body>
</html>