<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/about" method="post">
        fname: <input id="fname" type="text" name="fname"><br />
        lname: <input id="lname" type="text" name="lname"><br />
        city: <input id="city" type="text" name="city"><br />

        <button type="submit">Submit</button>
    </form>

    <div id="messages">

    </div>

    <script src="js/messages.js"></script>
</body>

</html>